.joke-container {
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Merriweather', serif;
}

.joke {
  font-size: 30px;
}

.joke-answer {
  margin-top: 30px;
}

.footer-form {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
