.joke-container {
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Merriweather', serif;
}

.joke {
  font-size: 3.5em;
}

.joke-answer {
  margin-top: 3em;
  font-size: 30px;
}

.footer-form {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin-left: 3em;
  margin-right: 3em;
}

/* a {
text-decoration: none;
color: black;
} */
