// Place all the styles related to the jokes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.joke-text{
	position: relative;
    margin-top: 4%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 60px 50px 50px;
    text-align: center;
    //font-family: 'Merriweather', serif;
    font-size: 200%
}
