
<body class='joke-container'>

<div class='joke-container'>
  <p class='joke joke-body'><%= @joke.body %></p>
  <p class='joke joke-answer'><%= @joke.answer %></p>
</div>

<footer class="footer-form">
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSc_wDugM06zkB15A41Wzj3DVJx-yoNnSbiepL7oPBY5roFZgA/viewform?usp=sf_link"> Envie de contribuer à la Bidonne Générale </a>
</footer>

</body>
