
<a <%= link_to root_path do %>
<body bgcolor="#602a55">

<section class='joke-text'>
  <p><%= @joke.body %></p>
</section>
<section class='joke-text'>
  <p><%= @joke.answer %></p>
</section>
</body>
</a<% end %>
